@media only screen and (min-width: 992px) adn (max-width 1200px) {


}

/* Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}


/* Mobile Small Layout */

@media only screen and (max-width: 767px) { 


.slicknav_menu {display: block;}
.menu{display:none;}
.banner img;{width:50%}


}



/* Mobile Large Layout Layout */


@media only screen and (min-width: 480px) and (max-width: 767px) { 




.slicknav_menu {
  display: none;
}
.menu{display:none;}
.banner{width:400px;}

.banner img;{width:50%}
}



