body{
	background:#34495e;
}
.mid{background:#ecf0f1;width:90%;margin:auto;}
//**
.header-area{}
.header-top{background:#ecf0f1;overflow:hidden;}
.header-top p{text-align: right;
	padding: 34px;
	font-size: 17px;font-family: 'Oswald', sans-serif;}
.main-header{background:#2ecc71;overflow:hidden;}
.logo{    width: 20%;
    float: left;
    padding: 10px 28px;
}
.logo img{}
.header-midle{width:30%;float:right;}
.menu-area{background:#2ecc71;overflow:hidden;}
.main-menu{}
.main-menu ul{list-style:none;margin:0;}
.main-menu ul li{display:inline-block;}
.main-menu ul li a{text-decoration:none;text-transform:uppercase;padding:20px 20px;display:block;font-size:20px;color:#fff;font-family: 'Oswald', sans-serif;}
.main-menu ul li a:hover{background:#3498db;}
**/

.header-area{height:160px;}
.logo{
    }
.logo img{padding: 10px 28px;}
.banner{}
.banner img{padding: 10px 28px;width:100%;}
.conta{}
.conta p{text-align: right;
	padding: 34px;
	font-size: 17px;font-family: 'Oswald', sans-serif;}
	

.main-menu-area{}	
.menu{background:#2ecc71;width:100%;}	
.menu ul{list-style:none;margin:0;}	
.menu ul li{display:inline-block;}	
.menu ul li a{text-decoration:none;text-transform:uppercase;padding:20px 60px;display:block;font-size:20px;color:#fff;font-family: 'Oswald', sans-serif;}	
.menu ul li a:hover{background:#3498db;}	
	
	
.slider{}
.slider img{width:100%;height:400px;}

.main-content-area{}
.left-sidebar{background:#95a5a6;}
.left-sidebar h3{background:#34495e;padding:10px 0px;text-align:center;color:#fff;font-family: 'Oswald', sans-serif;}

.left-sidebar p{text-decoration:none;font-size:15px;padding:5px 0px;display:block;color:#fff;font-family: 'Oswald', sans-serif;text-align:center;}


.pragrap{}
.pragrap h3{background:#34495E;text-align:center;font-family: 'Oswald', sans-serif;color:#fff;padding:5px;}
.pragrap p{font-family: 'Oswald', sans-serif;color:#000;padding:5px;text-align:justify;}

.servioffer{}
.sercon{}
.sercon h2{text-align: center;
background: #34495E;
padding: 8px;
color: #fff;font-family: 'Oswald', sans-serif;}
.sercon p{font-family: 'Oswald', sans-serif;text-align:justify;padding:20px;}

.path-image{}

.pathimage{}
.pathimage h2{text-align: center;
background: #34495E;
padding: 8px;
color: #fff;font-family: 'Oswald', sans-serif;}
.single-path{padding-bottom:20px;}
.single-path img{margin-right:5px;}
.single-path h3{text-align: center;
background: #34495E;
padding: 8px;
color: #fff;font-family: 'Oswald', sans-serif;}
.single-path p{font-family: 'Oswald', sans-serif;}
.single-path a{font-family: 'Oswald', sans-serif;text-decoration:none;width:150px;padding:10px 20px;background:#3498db;color:#fff;border-radius:5px;}
.payment-option{}
.payment-option img{width:100%;}
.free-tril{}
.free-tril img{width:100%;}
.project_list .mix{
	display:none;
}
.project_list{text-align:center;}
.project_filter ul.project_menu{text-align:center;}
.project_filter ul.project_menu li{display:inline-block;font-family: 'Oswald', sans-serif;padding:12px 20px;cursor:pointer;font-size:14px;border-radius:10px;}
.project_filter ul.project_menu li:hover{background:green;color:#fff;};
.testimonials_area {}
.testimonial {}
.testimonial_list {margin-bottom: 35px;
margin-top: 50px;
position: relative;}
.single_testimonial {text-align:center;font-size:16px;font-weight:300;font-style:italic;padding:0 90px;}
.testimonial_list:before {content:"";height:35px;width:53px;background:url(img/quote_left.png); position:absolute;left:0;top:115px}
.testimonial_list:after {content:"";height:35px;width:53px;background:url(img/quote_right.png); position:absolute;bottom:0;right:0}
.single_testimonial img{border:1px solid #87AF0F;border-radius:500px;margin-bottom:30px}
.single_testimonial p{}
.single_testimonial h3{color: #000;
font-size: 16px;
font-weight: 400;
text-align: right;
text-transform: uppercase;}
.testi{}
.testi h2{text-align:center;background: #34495E;color:#fff;font-family: 'Oswald', sans-serif;padding:8px;}
.skill{}
.skill h2{text-align:center;background: #34495E;color:#fff;font-family: 'Oswald', sans-serif;padding:8px;}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
}
#wrapper h1
{
 margin-top:100px;
 font-size:55px;
 color:#2E64FE;
}
#wrapper h1 a
{
 color:#2E64FE;
 font-size:18px;
}
.skill_name 
{
 margin-left:0px;
 width:50px;
 height:40px;
 line-height:40px;
 font-weight:bold;
 font-size:13px;
 color:white;
 clear:both;
 float:left;
 border-radius:3px 0px 0px 3px;
}
#skill_php
{
 background-color:#088A85;
}
#skill_asp
{
 background-color:#5858FA;
}
#skill_jsp
{
 background-color:#04B404;
}
.skillbar_wrapper 
{
 float:left;
 position:relative;
 display:block;
 margin-bottom:15px;
 width:100%;
 background-color:#E6E6E6;
 height:40px;
 border-radius:0px 3px 3px 0px;
}
.skillbar_bar 
{
 height:40px;
 width:0px;
 border-radius:0px 3px 3px 0px;
}
#skillbar_php
{
 background-color:#01DFD7;
}
#skillbar_asp
{
 background-color:#8181F7;
}
#skillbar_jsp
{
 background-color:#01DF01;
}
.skill_bar_percent 
{
 position:absolute;
 right:10px;
 top:0;
 font-size:12px;
 height:35px;
 line-height:35px;
 color:black;
}
.slicknav_menu{display:none;}
.footer-area{}
.fmid{background:#000;width:90%;margin:auto;}
.footer{}
.footer h4{text-align:center;color:#fff;font-family: 'Oswald', sans-serif;padding:8px;}